#box{
	margin:0 auto auto auto;	
	width:1000px;					
	clear:both;					
	background-color: #FFFFFF;	
}  
body{padding:0;margin:0;font:14px/1.5 arial,"microsoft yahei";background:#253242;letter-spacing:1px}
#main {
	left: 1%;
	top: 30%;
	width: 1000px;
	height: 1200px;
	z-index: 1;
	overflow: auto;	
	background: pink;
	margin-top:60px; 	
}